@font-face {
    font-family: Axiforma;
    src: url(../font/Axiforma-Regular.woff2) format('woff2');
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #be93d4;
    --secondary-color: #a1045a;
    --blue: #0b3e84;
    --white: #fff;
    --black: #27252a;
    --pending: #e39ff6;
}

.bl {
    color: var(--blue);
}

.pri {
    color: var(--primary-color);
}

.sec {
    color: var(--secondary-color);
}

.bk {
    color: var(--black);
}

.wht {
    color: var(--white);
}

.bg-pri {
    background-color: var(--primary-color);
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

body {
    font-family: 'Axiforma', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--white);
    min-width: 0;
}

.fs-7 {
    font-size: 0.9rem;
}

#sidebar {
    width: 60px;
    min-width: 60px;
    /* height: 700px; */
    /* position: fixed;
    left: 0;
    top: 0;
    bottom: 0; */
    /* height: 100vh; */
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 250px;
    min-width: 250px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.25rem;
}

.ins-img {
    width: 80px;
    height: 60px;
    /* padding: auto 2px; */
    background: var(--white);
    overflow: hidden;
    /* border-radius: 50%; */
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 0.625rem 1rem;
    color: var(--white);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 4px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: #ffffff4f;
    border-left: 4px solid var(--blue);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 60px;
    background-color: var(--primary-color);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse']::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: '';
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse'].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.navbar {
    /* background-color: #f5f5f5; */
    box-shadow: 0 4px 10px #f2f2f2;
}

@media screen and (max-width: 400px) {
    .nav-item p {
        display: none;
    }
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.fs-12 {
    font-size: 12px;
}

.table th {
    font-size: 16px;
    vertical-align: top;
    color: var(--blue);
}

.table td {
    font-size: 14px;
    /* word-wrap: wrap; */
}

.badge {
    --bs-badge-font-size: 11px;
    --bs-badge-font-weight: 600;
}

input[type='text']:focus {
    box-shadow: 2px 3px 6px var(--pending) !important;
}

/* .fotter-nav .nav-link:active {
    border-bottom: 2px solid #fff;
    text-decoration: underline;
} */

.fotter-nav a.nav-link:hover {
    /* background-color: #ffffff4f; */
    border-bottom: 4px solid var(--blue);
}

.search-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid var(--pending) !important;
    border-right: 2px solid var(--pending) !important;
    border-bottom: 2px solid var(--pending) !important;
    background-color: var(--blue);
    color: white;
}

@media screen and (max-width: 556px) {
    .asset_slider .card {
        width: 96% !important;
    }
    .ds {
        left: 41%;
    }
}

@media screen and (max-width: 500px) {
    .ds {
        left: 40%;
    }
}

@media screen and (max-width: 450px) {
    .ds {
        left: 39%;
    }
}

@media screen and (max-width: 400px) {
    .ds {
        left: 44%;
    }
}

@media screen and (max-width: 350px) {
    .ds {
        left: 43%;
    }
}

@media screen and (max-width: 650px) {
    .ds {
        left: 39%;
    }
}

@media screen and (min-width: 768px) {
    .asset_slider .card {
        width: 20rem !important;
    }
}

@media screen and (min-width: 992px) {
    .asset_slider .card {
        width: 24rem !important;
    }
}

@media screen and (min-width: 1050px) {
    .asset_slider .card {
        width: 28rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .asset_slider .card {
        width: 32rem !important;
    }
}


